
.containers
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.containers .boxs
{
	position: relative;
	width: 300px;
	height: 380px;
	background: black;
	box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
}
.containers .boxs .imgBox
{
	position: relative;
	overflow: hidden;
}
.containers .boxs .imgBox img
{
    max-width: 100%;
	transition: transform 2s;
}
.containers .boxs:hover .imgBox img
{
	transform: scale(1.5);
}
.containers .boxs .details
{
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	background: rgba(0,0,0,.8);
	transform: scaleY(0);
	transition: transform .5s;
}
.containers .boxs:hover .details
{
	transform: scaleY(1);
}
.containers .boxs .details .content
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
	color: #fff;
}
.containers .boxs .details .content h2
{
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #ff0;
}
.containers .boxs .details .content p
{
	margin: 10px 0 0;
	padding: 0;
}